body {
    text-align: center;
    background-color: light;
    padding: 20px;
    margin-left: 250px;
    margin-right: 100px;
    background: lightgray;
    font: 20px;
}

.whole {
    padding-left: 20px;
    color: grey;
    margin: 0 auto;
    width: 100%;
    height: 90%;
    text-align: left;
    margin-left: 50px;
}

.whole .image {
    padding-right: 30px;
    padding-top: 35px;
    float: left;
    text-align: left;
}

.whole .blog {
    float: left;
    width: 40%;
    text-align: left;
    padding-top: 10px;
    padding-right: 30px;
    margin-right: 20px;
}

.whole .all {
    float: right;
    width: 40%;
    text-align: center;
    padding-left: 50px;
    padding-bottom: 30px;
}

.whole .all ul {
    padding-bottom: 0px;
    text-align: 20px;
    padding-right: 120px;
}

.whole .all li {
    list-style: none;
    margin-top: 20px;
    color: grey;
    text-decoration: none;
    float: left;
    list-style: none;
    padding: 10px;
    font-size: 20px;
}

.whole .all a {
    text-align: center;
    text-decoration: none;
    color: grey;
}

.whole .blog h1 {
    color: black;
}

.secondDiv {
    margin-bottom: 20px;
    text-align: center
}

.date {
    text-align: center;
    padding-right: 100px
}

span {
    margin: 20px;
    color: grey;
}

.takeit {
    text-align: center;
    margin-top: 100px;
    padding-right: 20px;
    margin-right: 100px;
}

button {
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    text-align: center
}

.button1 {
    text-align: center;
    padding-right: 120px
}

footer {
    display: block;
}

footer li {
    float: left;
    padding: 10px;
    list-style: none;
}

footer ul {
    padding: 10px;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

footer p {
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}

p {
    font-family: "arial", Times, serif;
    text-align: left;
    font-size: 16px
}

h2 {
    align-items: center;
    line-height: 20px;
    padding-right: 30px;
    padding-left: 50px;
}