body {
    margin: 0;
}

.top-content {
    background-image: url(image/atlanta-skyline.jpg);
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 10px
}

.logo {
    display: flex;
    justify-content: center;
}

.below-text {
    text-align: center;
}

.arrow {
    display: flex;
    justify-content: center
}

.top-text {
    display: flex;
    justify-content: center
}

.middle-element {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.at img {
    padding-left: 10px;
}

.hash img {
    padding-left: 15px;
}

footer {
    bottom: 0;
    text-align: center;
    background-color: grey
}

footer li {
    display: inline-block;
    list-style: none;
    padding: 10px
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}